*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F9F4E8;
}

.container{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #555555;
    font-size: 20px;
}

header{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.flex_box1{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.flex_list1{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.flex_box3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px
    
}

.btn_header{
   background-image: linear-gradient(to right, #EAAE53,#EA5573);
   border: none;
   border-radius: 25px;
   padding: 10px 10px;
}

.btn2_header{
    background-color:#4977EA ;
    border: none;
    color: white;
    padding: 20px 20px;
    border-radius: 8px;
    font-size: 15px;
}



main{  
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
    
           
}

.grid_box1{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;
}
h1{
    width: 280px;
}
.grid_box1 p{
    width: 410px;
    color: #555555;
    font-size: 16px;
    line-height: 1.5 rem;
}

.input_sec{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.input_box{
    border: none;
    padding: 20px 20px;
    border-radius: 8px;
}

.checkbox_sec img{ 
    cursor: pointer;
}

.checkbox_sec{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.checkbox_sec p{
    color: #555555;
}
 
.grid_box2{
  
   display: grid;
   grid-template-columns: 1fr;
}

.img_container{
    
    position: relative;
    height: 100%; 
    
}

.img_container img{
    position: absolute;
    width: 21em;
    top: 0;
    right: 0;
}

.model_img{
    z-index: 999;
}

.purple{
    z-index: 90;
    transform: rotate(-15deg);
}

.pink{
    z-index: 80;
    transform: rotate(-30deg);
}

.blue{
    z-index: 70;
    transform: rotate(-45deg);
}

footer{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content:space-between; 
   
}

.social_list{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.help_icon_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.part1{
    color: #555555;
}

/* Media Query */

@media (max-width: 768px) {
    .btn_header{
        font-size: 12px;
    }

    a{
        font-size: 12px;
    }


    main{
            grid-template-columns: 1fr;
            grid-template-areas:
                "grid_box2"
                "grid_box1";
              
            gap: 3em;   
       
    }

    .grid_box2{
        
         grid-area: grid_box2;
         min-height: 25em;
             
    }

    .img_container img {
        left: 50%;
        margin-left: -25%;
        top: 50%;
        margin-top: -25%;
        width: 16rem;
    }
   
    h1{
        font-size: 3em;
        width: 100%;
    }
    .grid_box1 p{
        font-size: 1.2em;
        width: 100%;
        
    }

    .input_box{
        padding: 20px 50px;
    }
    
}


@media (max-width: 412px){

    .container{
        overflow: hidden;
    }

    .flex_box2{
        display: none;
    }
    .flex_box3{
        display: none;
    }

    
   
    .img_container img{
        left:40%;
        top:34%
    }

    h1{
        
        width: 100%;
    }
    .grid_box1 p{
        
        width: 100%;
        
    }

    .input_sec{
        flex-direction: column;
    }

    .checkbox_sec p{
        font-size: 18px;
    }

    footer{
        align-items:flex-start;
        flex-direction: column;
        gap:20px
    }

    footer a{
        font-size: 16px;
    }

}